html{
 
}
/* estilo dos titulos */
h1 {
    background-color:rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255);text-align: center;
}
.inforacaocss {
    background-color: rgb(142, 201, 246);
}
/* estilo dos titulos */

table {
    width: 100%;
    border-collapse: collapse; /* Remove os espaços entre as bordas das células */
    border: 2px solid black; /* Borda ao redor da tabela inteira */
}
th, td {
    border: 1px solid black; /* Borda ao redor das células */
    padding: 8px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto */
}
th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
}

th {text-align: center; vertical-align: middle}

.titulo1 { margin-inline: 35%;
}
 
.cor1 {
    text-decoration-color: brown;
}
