html{
    font-size: large;
}
/* estilo dos titulos */
h1 { 
    margin-inline: 30%;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);text-align: center;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    
}

h2 {
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-right: 60%;
    border-radius: 10px;
    text-align: center;
    padding: 5px
}

h3{ 
    text-align: center;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-right: 90%;
    padding: 5px

}

table {
    width: 100%;
    border-collapse: collapse; /* Remove os espaços entre as bordas das células */
    border: 2px solid black; /* Borda ao redor da tabela inteira */
    padding: 100px;
}
th, td {
    border: 1px solid black; /* Borda ao redor das células */
    padding: 10px; /* espaçamento interno das células */
    text-align: left; /* alinhamento do texto */
  
}

th {
    background-color: #ffffff; /* cor de fundo para o cabeçalho */
}

th {
    text-align: center; vertical-align: middle
}


 /* css da pagina portifolio */
.portcss{
    background-color:#b6f4ff;
}


/* css da pagina sobre */
.sobrecss{
    background-color:#f0a0a0;

}

/* css da pagina contato */
.contatocss{ 
     background-color:#b6f4ff;

}

/* css da pagina info*/
.inforacaocss {
    background-color:#f0a0a0;
}

.p{
    border: solid black 1px;
}
