html{
    font-size: large;
}
/* estilo dos titulos */
h1 { margin-inline: 30%;
    background-color:rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0);text-align: center;
}

h2 {background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
margin-right: 60%;
}

h3{ text-align: center;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-right: 90%;
}

table {
    width: 100%;
    border-collapse: collapse; /* Remove os espaços entre as bordas das células */
    border: 2px solid black; /* Borda ao redor da tabela inteira */
}
th, td {
    border: 1px solid black; /* Borda ao redor das células */
    padding: 8px; /* espaçamento interno das células */
    text-align: left; /* alinhamento do texto */
}

th {
    background-color: #ffffff; /* cor de fundo para o cabeçalho */
}

th {text-align: center; vertical-align: middle}


 /* css da pagina portifolio */
.portcss{
    background-color:#d99bf0;
}


/* css da pagina sobre */
.sobrecss{
    background-color:#d99bf0;

}

/* css da pagina contato */
.contatocss{  background-color:#d99bf0

}

/* css da pagina info*/
.inforacaocss {
    background-color:#d99bf0
}
